<div class="min-h-screen bg-slate-100 p-6">
  <div class="max-w-4xl mx-auto bg-white rounded-2xl shadow-sm border border-slate-200 p-6">

    
    <div class="flex items-start justify-between mb-4">
      <div>
        <h1 class="text-xl font-bold text-slate-800">Notifications</h1>
        <p class="text-sm text-slate-400 mt-0.5">Realtime updates for likes, comments, shares, and follows.</p>
      </div>
      <button
      (click)="markAllIRead()"
      class="cursor-pointer flex items-center gap-1.5 text-sm text-blue-900 hover:bg-blue-200 rounded-xl p-1 transition-colors mt-1">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        Mark all as read
      </button>
    </div>

    
    <div class="flex items-center gap-2 mb-5">
      
      <button routerLink="AllNotification" routerLinkActive="!bg-blue-500 !text-white !border-blue-500"
        class="px-5 py-1.5 rounded-full text-sm font-semibold bg-white text-slate-600 border border-slate-200 hover:bg-slate-50 transition-colors">
        All
      </button>

      <!-- Unread -->
      <button routerLink="unreadNotification" routerLinkActive="!bg-blue-500 !text-white !border-blue-500"
        class="px-5 py-1.5 rounded-full text-sm font-semibold bg-white text-slate-600 border border-slate-200 hover:bg-slate-50 transition-colors">
        Unread
      </button>
    </div>

    <hr class="border-slate-100 mb-4" />

    
    @if(listLength <= 0){ <div class="bg-slate-50 rounded-xl border border-slate-200 py-12 text-center">
      <p class="text-slate-400 text-sm">No notifications yet.</p>
  </div>
  }
  <router-outlet></router-outlet>

</div>
</div>