<aside
    class="w-full text-sm sticky top-4 bg-white rounded-[20px] shadow-sm border border-slate-50 p-2.5 flex flex-col gap-1"
    aria-label="Sidebar Navigation">
    <button routerLink="content" routerLinkActive="!bg-blue-50 !text-blue-600"
        class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold transition-colors duration-200">
        <i class="fa-regular fa-newspaper w-5 text-center"></i>
        <span class="">Feed</span>
    </button>

    <button routerLink="myposts" routerLinkActive="!bg-blue-50 !text-blue-600 "
        class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 active:font-semibold hover:bg-slate-50 transition-colors duration-200 group">
        <i
            class="fa-solid fa-wand-magic-sparkles w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span>My Posts</span>
    </button>

    <button routerLink="community" routerLinkActive="!bg-blue-50 !text-blue-600 "
        class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group">
        <i class="fa-solid fa-globe w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span class="">My Community</span>
    </button>

    <button routerLink="Saved" routerLinkActive="!bg-blue-50 !text-blue-600 "
        class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group">
        <i
            class="fa-regular fa-bookmark w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"></i>
        <span class="">Saved</span>
    </button>
</aside>