<section class="border border-slate-200 rounded-[16px] p-4 bg-white" aria-label="Comments">
    <div class="flex items-center gap-2 mb-2">
        <h3 class="font-bold text-[15px] text-slate-900">Comments</h3>
        <span
            class="bg-blue-100 text-blue-600 text-[12px] font-bold px-2 py-0.5 rounded-full">{{commentsList.length}}</span>
    </div>
    @for (comment of commentsList ;track comment._id ) {

    <!-- comment details  -->
    <div class="flex gap-2 mb-4 group">
        <img [src]="comment.commentCreator.photo" [alt]="comment.commentCreator.name"
            class="w-8 h-8 rounded-full object-cover shrink-0 mt-1 bg-slate-100 border border-slate-50" />

        <div class="flex-1 flex flex-col items-start min-w-0">
            <div class="bg-slate-100 rounded-2xl rounded-tl-none px-3.5 py-2.5 max-w-full">
                <div class="flex items-center gap-1.5 mb-0.5">
                    <span
                        class="text-[13px] font-bold text-slate-900 hover:underline cursor-pointer">{{comment.commentCreator.name}}</span>
                </div>

                <div class="flex items-center gap-1 text-[12px] text-slate-500 mb-1">
                    <span>@{{comment.commentCreator.username}}</span>
                    <span>&middot;</span>
                    <!-- <span>{{comment.createdAt  | date:'medium'}}</span> -->
                </div>

                @if(comment.content){
                <p class="text-[14px] text-slate-800 wrap-break-word">
                    {{comment.content}}
                </p>
                }
                @if(comment.image){
                <img [src]="comment.image" class="w-full h-[150px] object-cover " alt="">
                }
            </div>

            <div class="flex items-center gap-3 mt-1 ml-2 text-[12px] text-slate-500 font-semibold">
                <span class="cursor-pointer hover:underline">{{comment.createdAt | date:'medium'}}</span>
                <button [class.text-blue-500]="isLikedByMe(comment)" (click)="LikeUnlikePost(comment.post,comment._id)"
                    class="cursor-pointer hover:underline">Like ({{comment.likes.length}})</button>
                <button #ele class="cursor-pointer hover:underline">
                    Reply ({{comment.repliesCount}})
                    <!-- @if(comment.repliesCount > 0) {
                    ({{comment.repliesCount}})
                    } -->
                </button>
                <div class="relative">

                    <!-- button -->
                    <button (click)="toggleMenu(comment._id)"
                        class="w-7 h-7 flex items-center justify-center rounded-full hover:bg-slate-200 transition">

                        <i class="fa-solid fa-ellipsis text-slate-600"></i>
                    </button>

                    <!-- dropdown -->
                    @if(openMenuId === comment._id){
                    <div class="absolute right-0 mt-2 w-36 bg-white border border-slate-200 rounded-lg shadow-lg z-50">

                        <ul class="text-sm text-slate-700">

                            <li>
                                <button class="w-full text-left px-3 py-2 hover:bg-slate-100 rounded-t-lg">
                                    Edit
                                </button>
                            </li>

                            <li>
                                <button class="w-full text-left px-3 py-2 text-red-600 hover:bg-slate-100 rounded-b-lg">
                                    Delete
                                </button>
                            </li>

                        </ul>

                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
    @defer (on interaction(ele)) {
    <app-reply [commentId]="comment._id" [postId]="PostId" [parentUsername]="comment.commentCreator.username"
        [photo]="photo">
    </app-reply>
    }
    }

    <!-- Create Comments  -->
    <form #form (submit)="submitForm($event , form )">
        <div class="flex gap-2 mt-4">
            <img [src]="photo" alt="Ahmed Menisy"
                class="w-8 h-8 rounded-full object-cover shrink-0 mt-1 bg-slate-100 border border-slate-50" />

            <div
                class="flex-1 bg-slate-100 border border-transparent focus-within:border-blue-300 focus-within:ring-4 focus-within:ring-blue-50 focus-within:bg-white transition-all rounded-[20px] p-2 flex flex-col">
                <textarea [formControl]="content"
                    class="w-full bg-transparent border-none text-[14px] text-slate-800 placeholder-slate-500 resize-none outline-none px-2 pt-1 pb-3 min-h-[60px]"
                    placeholder="Comment as ...">
                </textarea>
                @if(imgurl){
                <img [src]="imgurl" class="w-50 h-[150px] object-cover m-2 rounded-sm">
                }

                <div class="flex items-center justify-between px-1">
                    <div class="flex items-center gap-1">
                        <input (change)="changeimg($event)" type="file" [id]="PostId" class="hidden" />
                        <label [for]="PostId"
                            class="flex cursor-pointer items-center gap-2 text-slate-600 hover:bg-slate-50 px-2 py-1.5 rounded-lg transition-colors group">
                            <i
                                class="fa-regular fa-image text-[#22c55e] text-[1.1rem] group-hover:scale-110 transition-transform"></i>
                            <span class="text-[14px] font-semibold text-slate-600">Photo/video</span>
                        </label>
                    </div>

                    <button
                        class="w-8 cursor-pointer h-8 rounded-full bg-blue-400 hover:bg-blue-500 text-white flex items-center justify-center transition-colors">
                        <i class="fa-solid fa-paper-plane text-[13px] ms-1 mt-.5"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>


</section>